# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gradle
build
.idea/
.vertx/
EternalJukebox.iml
musicmachinery/
selfSigned.cert
selfSigned.key
/songs/
/ssl/
/target/
/trid/
/trid_audio/
/working/
/data/

new_config.yaml
src/main/resources/logback.xml
uploads/
