{% if page.layout == 'retro' %}
<div id="footer">
    <ul id="footer-list">
        <li>Now powered by <a href="http://http://spotify.com/">Spotify </a></li>
        <li>Built at <a href="http://boston.musichackday.org/">Music Hack Day @ MIT</a> by <a
                href="http://twitter.com/plamere"> Paul Lamere </a></li>
        <li>Now hosted by <a href="{{ site.data.var.git }}"> UnderMybrella </a></li>
        <li>Read the <a href="retro_faq.html"> FAQ </a></li>
        <li>More info at <a href="http://musicmachinery.com/2012/11/12/the-infinite-jukebox/">Music Machinery</a></li>
        <li>Check out the <a href="http://www.reddit.com/r/infinitejukebox/"> Infinite Jukebox Reddit </a></li>
    </ul>
    <!--
    Interested in a <b>mobile</b> version of the Infinite Jukebox? Let me know by taking this
    <a href="https://docs.google.com/forms/d/1jLy_XlPt2WD4tuE9-paLBMbapzLJ9CAgTDjuD2Wefa0/viewform">
    one minute survey</a>.
    -->
    <!--
    -->
</div>
{% else %}
<hr>
<div class="container span11">
  <small>
    Originally built at  {% if page.app == 'jukebox' %}<a href="http://boston.musichackday.org/">Music Hack Day @ MIT</a>{% elsif page.app == 'canonizer' %}SXSW Music Hack Championship 2014{% endif %} by
    <a href="http://twitter.com/plamere"> Paul Lamere </a>
      Now hosted by <a href="{{ site.data.var.git }}"> UnderMybrella </a> and
      powered by <a href="http://spotify.com/">Spotify. </a>
  </small>
</div>
{% endif %}
