<head>

  {% if page.layout == 'go' %}<script src="files/raphael-min.js" type="text/javascript" charset="utf-8"></script>{% endif %}
  {% if page.layout == 'go' %}<link rel="stylesheet" href="files/jquery-ui.css" type="text/css" media="screen">{% endif %}
  <link rel="stylesheet" href="files/canonizer_styles.css" type="text/css" media="screen">
  {% if page.app == 'jukebox' and page.layout == 'go' %}<link rel="stylesheet" href="files/styles.css" type="text/css" media="screen">{% endif %}
  <script src="{{ site.data.var.jquery }}/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="{{ site.data.var.cdn }}/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.data.var.cdn }}/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  {% if page.layout == 'go' %}<script src="{{ site.data.var.jquery }}/ui/1.12.1/jquery-ui.min.js"></script>{% endif %}
  <script src="{{ site.data.var.cdn }}/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-Xqcy5ttufkC3rBa8EdiAyA1VgOGrmel2Y+wxm4K3kI3fcjTWlDWrlnxyD6hOi3PF" crossorigin="anonymous">
  <script src="files/underscore-min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="files/{% if page.app == 'canonizer' %}canonizer_{% endif %}jremix.js"></script>
  <title> {{ page.title }} </title>

  {% if page.type == 'faq' %}
  <style>
      .indented {
          padding-left: 2.5%;
          padding-right: 2.5%;
      }

      .question {
          font-size: 28px
      }
  </style>
  {% endif %}

  {% if page.layout == 'go' %}
    <script type="text/javascript" async="" src="files/ga.js"></script>
    <script id="twitter-wjs" src="files/widgets.js"></script>
    <script type="text/javascript" src="files/watch.js"></script>
    <script type="text/javascript" charset="utf-8" async="" src="files/button.js"></script>
  {% endif %}

  <meta property="og:title" content="{% if page.app == 'jukebox' %}The Eternal Jukebox{% elsif page.app == 'canonizer' %}The Autocanonizer{% endif %}"/>
  <meta property="og:description" content="{% if page.app == 'jukebox' %}For when your favorite song just isn't long enough{% elsif page.app == 'canonizer' %}Get Bach to basics{% endif %}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ page.url | absolute_url }}"/>
  <meta property="og:image" content="{% if page.app == 'jukebox' %}{{ "/files/eternal.png" | absolute_url }}{% elsif page.app == 'canonizer' %}{{ "/files/ss.png" | absolute_url }}{% endif %}"/>
</head>
