<script type="text/javascript">

var selectedSongs = [];

function searchForTrack() {
    console.log("search for a track");
    var q = $("#search").val();
    console.log(q);

    if (q.length > 0) {
        var url = 'api/analysis/search';
        $.getJSON(url, {query: q, results: 30}, function (data) {
            console.log(data);

            $("#pick").hide();
            listTracks('#search-list', data);
        });
    }
}

function listTracks(active, tracks) {
    $('#song-div').show();
    $('#song-list').empty();
    $('.sel-list').removeClass('activated');
    $(active).addClass('activated');
    for (var i = 0; i < tracks.length; i++) {
        var s = tracks[i];
        var item = listSong(s);
        if (item) {
            $('#song-list').append(listSong(s));
        }
    }
}


function showSelection() {
    $("#selected-list").empty();
    for (var i = 0; i < selectedSongs.length; i++) {
        var r = selectedSongs[i];
        var title = getTitle(r.title, r.artist, null);
        var li = $("<li>");
        li.text(title);
        $("#selected-list").append(li);
    }
    if (selectedSongs.length == 2) {
        $("#go").show();
    }
}

function listSong(r) {
    var title = getTitle(r.title, r.artist, null);
    var item = null;
    if (title) {
        item = $('<li>').append(title);

        item.attr('class', 'song-link');
        item.click(function () {
            console.log(r);
            location.href = "{% if page.app == 'jukebox' %}jukebox{% elsif page.app == 'canonizer' %}canonizer{% endif %}_go.html?id=" + r.id;
        });
    }
    return item;
}

function getTitle(title, artist, url) {
    if (title == undefined || title.length == 0 || title === '(unknown title)' || title == 'undefined') {
        if (url) {
            title = extractTitle(url);
        } else {
            title = null;
        }
    } else {
        if (artist !== '(unknown artist)') {
            title = title + ' by ' + artist;
        }
    }
    return title;
}

function goDirect() {
    var spotify = $("#direct-spotify").val();
    var match = spotify.match(/spotify.com\/track\/([^/?]+)/);
    if (match === null) {
        alert("Please enter a valid Spotify song share link (open.spotify.com/track/<id>)");
        return;
    }
    var params = new URLSearchParams({id: match[1], audio: $("#direct-audio").val()});
    window.location.href = "{% if page.app == 'jukebox' %}jukebox{% elsif page.app == 'canonizer' %}canonizer{% endif %}_go.html?" + params.toString();
}

function init() {
    $("#go-search").click(function () {
        searchForTrack();
    });

    $("#search").keyup(function (e) {
        if (e.keyCode == 13) {
            searchForTrack();
        }
    });

    $("#go-direct").click(function () {
        goDirect();
    });

    $.getJSON('api/site/popular/{% if page.app == 'jukebox' %}jukebox{% elsif page.app == 'canonizer' %}canonizer{% endif %}', {count: 12}, function (data) {
        listTracks('#favourite-list', data);
    });
}

window.onload = init;

</script>
