<span id='tweet-span'>
{% if page.layout == 'retro' %}
   <iframe id="twitter-widget-0" scrolling="no" allowtransparency="true"
           class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
           style="position: static; visibility: visible; width: 61px; height: 20px;"
           title="Twitter Tweet Button" src="files/tweet_button.html" frameborder="0"></iframe>
  {% else %}
  <a href="https://twitter.com/share" id='tweet' class="twitter-share-button" data-lang="en"
     data-count='none'>Tweet</a>
  {% endif %}
<script>!function (d, s, id) {
    var
        js, fjs = d.getElementsByTagName(s)[0];
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, "script", "twitter-wjs");</script>
</span>
