---
title: 'The Eternal Jukebox'
layout: compress
app: jukebox
---

<html>
    <head>
        <script src="files/raphael-min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ site.data.var.jquery }}/jquery-1.12.4.min.js"></script>
        <link rel="stylesheet" href="{{ site.data.var.cdn }}/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ site.data.var.cdn }}/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="{{ site.data.var.cdn }}/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-Xqcy5ttufkC3rBa8EdiAyA1VgOGrmel2Y+wxm4K3kI3fcjTWlDWrlnxyD6hOi3PF" crossorigin="anonymous">
        <link rel="stylesheet" href="files/canonizer_styles.css" type="text/css" media="screen">
        <script type="text/javascript" async="" src="files/ga.js"></script>
        <script id="twitter-wjs" src="files/widgets.js"></script>
        <link rel="stylesheet" href="files/jquery-ui.css" type="text/css" media="screen">
        <script src="{{ site.data.var.jquery }}/ui/1.9.1/jquery-ui.min.js"></script>
        <script src="files/underscore-min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="files/jremix.js"></script>
        <script type="text/javascript" src="files/watch.js"></script>
        <link href="files/css.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" charset="utf-8" async="" src="files/button.js"></script>
        <title> {{ page.title }} </title>
    </head>

    <body data-gr-c-s-loaded="true" style="padding-top:50px;">
    {% include nav.html %}
        <div>
            <h1 id="display-name">Username Here</h1>
            <hr>
            <div id="starred"></div>
        </div>
        {% include footer.html %}

        <script>
            function extractTitle(url) {
                var lastSlash = url.lastIndexOf('/');
                if (lastSlash >= 0 && lastSlash < url.length - 1) {
                    return url.substring(lastSlash + 1, url.length - 4);
                } else {
                    return url;
                }
            }

            function getTitle(title, artist, url) {
                console.log(title + ":" + artist + ":" + url);
                if (title === undefined || title.length === 0 || title === '(unknown title)' || title === 'undefined') {
                    console.log("???");
                    if (url) {
                        title = extractTitle(url);
                    } else {
                        title = null;
                    }
                } else {
                    if (artist !== '(unknown artist)') {
                        title = title + ' by ' + artist;
                    }
                }
                return title;
            }

            function listSong(track) {
                console.log("Listing " + track);
                var title = getTitle(track.song.title, track.song.artist, track.song.url);
                if (title) {
                    var link = $('<a>');
                    link.attr('href', track.url);
                    var item = $('<li>').append(title);

                    item.attr('class', 'song-link');
                    link.append(item);
                    return link;
                }
                return null;
            }

            window.onload = function() {
                $.ajax({
                    url: "api/profile/google",
                    dataType: "json",
                    type: "GET",
                    success: function(data) {
                        $("#display-name").text(data["displayName"])
                    },
                    error: function(xhr, textStatus, error) {
                        $("#display-name").text("An error occurred: " + error + "!")
                    }
                });


                $.ajax({
                    url: "api/profile/me",
                    dataType: "json",
                    type: "GET",
                    success: function(data) {
                        console.log(data);
                        var stars = data["stars"];
                        for (var i = 0; i < stars.length; i++) {
                            var s = stars[i];
                            var url = 'api/site/expand/' + s;
                            $.getJSON(url, function(data) {
                                var item = listSong(data);
                                console.log("item: " + item);
                                if (item) {
                                    console.log(item);
                                    $('#starred').append(item);
                                }
                            }).error(function(error) {
                                console.log("Error: " + error);
                            });
                        }
                    },
                    error: function(xhr, textStatus, error) {
                        console.log("Error: " + error)
                    }
                });
            }
        </script>
    </body>
</html>
