---
layout: default
---

<div id="hero" class="hero-unit">
  <div class="container">
    <h2> Search for a song</h2>
        <div id='select-track'>
          <p><label>Search for a track: <input id="search" type="text" class="input-large search-query" title="search"></label></p>
          <p><button id="go-search" class='btn btn-sm btn-default'> Search </button></p>
        </div>
    <h2> Use direct Spotify + audio link</h2>
        <div id='direct-links'>
          <p><label>Spotify link: <input id="direct-spotify" type="text" class="input-large"></label></p>
          <p><label>Audio link (e.g. Youtube): <input id="direct-audio" type="text" class="input-large"></label></p>
          <p><button id="go-direct" class='btn btn-sm btn-default'> Open </button></p>
        </div>
    <h2 id="pick"> Or pick one of these favorites</h2>
        <div id="song-list"> </div>
        </div>
        <div id='info'> </div>
        </div>
  </div>
</div>
<ul id="song-list"> </ul>

{% include search-js.html %}
