---
layout: default

buttons:
   - name: Play
     id: go
   - name: Tune
     id: tune
   - name: Star
     id: star
   - name: Short URL
     id: short-url
---

<div id='info-div'>
    <span id='info'> </span>
    {% include tweet.html %}
</div>

<div id='error'></div>
<div id="hero">
    <div id="stats">
        <div id="details">
            <a href="" target="_blank" id="song-url"><span id="song-title"> </span></a>
            <br>
            <span id="button-panel">
                {% for item in layout.buttons %}
                  <button class="btn btn-small btn-default" id="{{ item.id }}">{{ item.name }}</button>
                {% endfor %}
                {% if page.title == 'The Eternal Jukebox' %}<button class="btn btn-small btn-default" id="canonize">Auto Canonizer Version</button>{% elsif page.title == 'The Autocanonizer' %}<button class="btn btn-small btn-default" id="jukebox">Eternal Jukebox Version</button>{% endif %}
            </span>
        </div>
        {{ content }}
    </div>
</div>

{% include go-js.html %}

<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable"
     style="display: none; outline: 0px none; z-index: 1000;" tabindex="-1" role="dialog" aria-labelledby="ui-id-1">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix"><span id="ui-id-1"
                                                                                            class="ui-dialog-title">Fine tune your endless song</span><a
            href="#" class="ui-dialog-titlebar-close ui-corner-all" role="button"><span
            class="ui-icon ui-icon-closethick"></span></a></div>
    <div id="controls" visibility="visible" style="display: block;" class="ui-dialog-content ui-widget-content">
        <div>
            <div id="control-instructions">
                You can retune the Auto Canonizer to use a different audio track here.
            </div>
            <div class="l-cb" id="l-audio-url">Audio URL: <input id="audio-url" type="url"></div>
            <br>
            <div class="l-cb" id="l-audio-upload"><form id="audio-upload-form"><input id="audio-upload" type="file" name="song_upload"
                                                                                      accept="audio/*"></form></div>
            <button class="btn btn-small" id="reset-edges"> Reset</button>
        </div>
    </div>
</div>
