---
title: 'The Eternal Jukebox'
layout: go
---

<div id='info-div'>
    <span id='info'> </span>
    {% include tweet.html %}
</div>

<div id='error'></div>
<div id="hero">
    <div id="stats">
        <div id="details">
            <a href="" target="_blank" id="song-url"><span id="song-title"> </span></a>
            <br>
            <span id="button-panel">
                <button class="btn btn-small btn-default" id="go">Play</button>
                <button class="btn btn-small btn-default" id="tune">Tune</button>
                <button class="btn btn-small btn-default" id="star">Star</button>
                <button class="btn btn-small btn-default" id="short-url">Short URL</button>
                <button class="btn btn-small btn-default" id="canonize">Auto Canonizer Version</button>
            </span>
        </div>

        <div id="tiles"></div>

        <span id="sbeats"> Total Beats: <span id="beats"> 0 </span></span>
        <!--<span id='sbeats'> PC: <span id='playcount'> 0 </span></span> -->
        <span id="stime"> Listen Time: <span id="time"> 00:00:00 </span></span>
    </div>
</div>


{% include go-js.html %}

<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable"
     style="display: none; outline: 0px none; z-index: 1000;" tabindex="-1" role="dialog" aria-labelledby="ui-id-1">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix"><span id="ui-id-1"
                                                                                            class="ui-dialog-title">Fine tune your endless song</span><a
            href="#" class="ui-dialog-titlebar-close ui-corner-all" role="button"><span
            class="ui-icon ui-icon-closethick"></span></a></div>
    <div id="controls" visibility="visible" style="display: block;" class="ui-dialog-content ui-widget-content">
        <div>
            <div id="control-instructions">
                You can retune the Auto Canonizer to use a different audio track here.
            </div>
            <div class="l-cb" id="l-audio-url">Audio URL: <input id="audio-url" type="url"></div>
            <br>
            <div class="l-cb" id="l-audio-upload"><form id="audio-upload-form"><input id="audio-upload" type="file" name="song_upload"
                                                                                      accept="audio/*"></form></div>
            <button class="btn btn-small" id="reset-edges"> Reset</button>
        </div>
    </div>
</div>

<iframe id="rufous-sandbox" scrolling="no" allowtransparency="true" allowfullscreen="true"
        style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: medium none;"
        title="Twitter analytics iframe" frameborder="0"></iframe>
